.info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.starter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 278px;
  height: 45px;
  margin:  7px 1px 7px 1px;
}
